# datasets
*.csv

# models
*.onnx
*.pt
*.pth
*.onnx.data
*.png
# checkpoints
checkpoints/
no_train_checkpoint/
dqn_fraud_checkpoints/
dqn_fraud_tb/

# embeddings
embeddings/

# results
results/
results_weighted/

# python cache
__pycache__/
*.pyc